Repository Excoriate/terragrunt-ref-arch-v3, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Excoriate, @terragrunt-maintainers, @terraform-maintainers, @docs-maintainers, @ci-maintainers

.github/CODEOWNERS:

# CODEOWNERS file for Terragrunt Reference Architecture

# Default owners for everything in the repo
* @Excoriate

# Terragrunt Infrastructure
infra/terragrunt/ @Excoriate @terragrunt-maintainers

# Terraform Modules
infra/terraform/ @Excoriate @terraform-maintainers

# Documentation
*.md @Excoriate @docs-maintainers

# CI/CD Configuration
.github/ @Excoriate @ci-maintainers

feat: Add support for environment variables and secrets in Terragrunt static check
  ci/ci-terragrunt/job.go
  ci/ci-terragrunt/job_ci_tg.go
Owners: @Excoriate

feat: Refactor CI job processing to use a reusable helper function
  ci/ci-terragrunt/job.go
  ci/ci-terragrunt/job_ci_tg.go
Owners: @Excoriate

feat: Improve Terragrunt static check job
  .gitlab/issue_templates/bug_report.md
  .gitlab/issue_templates/feature_request.md
  .gitlab/merge_request_templates/default.md
  .pre-commit-config.yaml
  ci/ci-terragrunt/go.mod
  ci/ci-terragrunt/job.go
  ci/ci-terragrunt/job_ci_tg.go
  ci/ci-terragrunt/main.go
  docs/dagger.io/arguments.md
  docs/dagger.io/custom-types.md
  docs/dagger.io/faq.md
  docs/dagger.io/ide-integration.md
  docs/dagger.io/interfaces.md
  docs/dagger.io/module-structure.md
  docs/dagger.io/packages.md
  docs/dagger.io/return-values.md
Owners: @Excoriate, @docs-maintainers

feat: Add support for Terragrunt log level, no color, and non-interactive options
  ci/ci-terragrunt/job.go
  ci/ci-terragrunt/job_ci_tf.go
  ci/ci-terragrunt/job_ci_tg.go
  ci/ci-terragrunt/main.go
  ci/ci-terragrunt/utils.go
  justfile
Owners: @Excoriate

feat: Mount source code directory for Terragrunt actions
  ci/ci-terragrunt/job.go
  ci/ci-terragrunt/job_ci_tf.go
  ci/ci-terragrunt/main.go
Owners: @Excoriate

feat: Refactor Terragrunt job execution logic
  ci/ci-terragrunt/job.go
  ci/ci-terragrunt/job_ci_tf.go
  ci/ci-terragrunt/job_ci_tg.go
Owners: @Excoriate

ci: Add Dagger CI workflow for Terraform and Terragrunt
  .github/workflows/dagger-ci.yml
  justfile
Owners: @Excoriate, @ci-maintainers

ci: Optimize Dagger CI workflow configuration
  .github/workflows/dagger-ci.yml
Owners: @Excoriate, @ci-maintainers

ci: Upgrade Dagger GitHub Action to v8.0.0
  .github/workflows/dagger-ci.yml
Owners: @Excoriate, @ci-maintainers

ci: Update Dagger GitHub Actions to use latest version
  .github/workflows/dagger-ci.yml
Owners: @Excoriate, @ci-maintainers

ci: Optimize Dagger CI workflow
  .github/workflows/dagger-ci.yml
Owners: @Excoriate, @ci-maintainers

ci: Update Dagger CI workflow to use environment variables directly
  .github/workflows/dagger-ci.yml
Owners: @Excoriate, @ci-maintainers

feat: Add Dagger CI module for Terragrunt workflows
  README.md
  ci/README.md
Owners: @Excoriate, @docs-maintainers

feat: Add new issue templates for bug reports and feature requests
  repomix-output.md
Owners: @Excoriate, @docs-maintainers

feat: Add new issue templates for bug reports and feature requests (#19)
  repomix-output.md
Owners: @Excoriate, @docs-maintainers

feat: Add Nix development shell configuration
  flake.nix
  justfile
Owners: @Excoriate

feat: Improve development environment with a new shell and tool versions
  ci/README.md
  flake.lock
  flake.nix
Owners: @Excoriate, @docs-maintainers

feat/add-nix-shell (#20)
  ci/README.md
  flake.lock
  flake.nix
  justfile
Owners: @Excoriate, @docs-maintainers

feat: Upgrade Terraform version to 1.11.3
  infra/terraform/modules/age-generator/versions.tf
  infra/terraform/modules/dni-generator/versions.tf
  infra/terraform/modules/lastname-generator/versions.tf
  infra/terraform/modules/name-generator/versions.tf
  infra/terragrunt/config.hcl
Owners: @Excoriate, @terraform-maintainers, @terragrunt-maintainers

feat: Add Terragrunt HCL validation to the justfile
  infra/terragrunt/_shared/_units/age_generator.hcl
  infra/terragrunt/_shared/_units/dni_generator.hcl
  infra/terragrunt/_shared/_units/lastname_generator.hcl
  infra/terragrunt/_shared/_units/name_generator.hcl
  infra/terragrunt/global/dni/age_generator/terragrunt.hcl
  infra/terragrunt/global/dni/dni_generator/terragrunt.hcl
  infra/terragrunt/global/dni/lastname_generator/terragrunt.hcl
  infra/terragrunt/global/dni/name_generator/terragrunt.hcl
  justfile
  scripts/justfile-utils.sh
Owners: @Excoriate, @terragrunt-maintainers

feat: Add Terraform module for random string generation
  README.md
  infra/terraform/modules/dni-generator/locals.tf
  infra/terraform/modules/lastname-generator/locals.tf
  infra/terraform/modules/name-generator/locals.tf
  infra/terraform/modules/random-string-generator/.terraform-docs.yml
  infra/terraform/modules/random-string-generator/.tflint.hcl
  infra/terraform/modules/random-string-generator/README.md
  infra/terraform/modules/random-string-generator/locals.tf
  infra/terraform/modules/random-string-generator/main.tf
  infra/terraform/modules/random-string-generator/outputs.tf
  infra/terraform/modules/random-string-generator/variables.tf
  infra/terraform/modules/random-string-generator/versions.tf
  infra/terragrunt/_shared/_config/README.md
  infra/terragrunt/_shared/_config/git.hcl
  infra/terragrunt/_shared/_units/age_generator.hcl
  infra/terragrunt/_shared/_units/dni_generator.hcl
  infra/terragrunt/_shared/_units/lastname_generator.hcl
  infra/terragrunt/_shared/_units/name_generator.hcl
  infra/terragrunt/config.hcl
  infra/terragrunt/global/dni/age_generator/terragrunt.hcl
  infra/terragrunt/global/dni/dni_generator/terragrunt.hcl
  infra/terragrunt/global/dni/lastname_generator/terragrunt.hcl
  infra/terragrunt/global/dni/name_generator/terragrunt.hcl
  justfile
  repomix-output.xml
  scripts/justfile-utils.sh
Owners: @Excoriate, @docs-maintainers, @terraform-maintainers, @terragrunt-maintainers

feat: Format Terraform files in tests/ directory
  infra/terragrunt/_shared/_config/git.hcl
  justfile
Owners: @Excoriate, @terragrunt-maintainers

feat: Update Terragrunt module paths to use local git base URL
  infra/terragrunt/_shared/_units/age_generator.hcl
  infra/terragrunt/_shared/_units/dni_generator.hcl
  infra/terragrunt/_shared/_units/lastname_generator.hcl
  infra/terragrunt/_shared/_units/name_generator.hcl
  infra/terragrunt/global/dni/age_generator/terragrunt.hcl
  infra/terragrunt/global/dni/dni_generator/terragrunt.hcl
  infra/terragrunt/global/dni/lastname_generator/terragrunt.hcl
  infra/terragrunt/global/dni/name_generator/terragrunt.hcl
  justfile
Owners: @Excoriate, @terragrunt-maintainers

feat: Upgrade Terraform version to 1.11.3 (#21)
  README.md
  infra/terraform/modules/dni-generator/locals.tf
  infra/terraform/modules/dni-generator/versions.tf
  infra/terraform/modules/lastname-generator/locals.tf
  infra/terraform/modules/lastname-generator/versions.tf
  infra/terraform/modules/name-generator/locals.tf
  infra/terraform/modules/name-generator/versions.tf
  infra/terraform/modules/random-string-generator/.terraform-docs.yml
  infra/terraform/modules/random-string-generator/.tflint.hcl
  infra/terraform/modules/random-string-generator/README.md
  infra/terraform/modules/random-string-generator/locals.tf
  infra/terraform/modules/random-string-generator/main.tf
  infra/terraform/modules/random-string-generator/outputs.tf
  infra/terraform/modules/random-string-generator/variables.tf
  infra/terraform/modules/random-string-generator/versions.tf
  infra/terragrunt/_shared/_config/README.md
  infra/terragrunt/_shared/_config/git.hcl
  infra/terragrunt/_shared/_units/age_generator.hcl
  infra/terragrunt/_shared/_units/dni_generator.hcl
  infra/terragrunt/_shared/_units/lastname_generator.hcl
  infra/terragrunt/_shared/_units/name_generator.hcl
  infra/terragrunt/config.hcl
  infra/terragrunt/global/dni/age_generator/terragrunt.hcl
  infra/terragrunt/global/dni/dni_generator/terragrunt.hcl
  infra/terragrunt/global/dni/lastname_generator/terragrunt.hcl
  infra/terragrunt/global/dni/name_generator/terragrunt.hcl
  justfile
  repomix-output.xml
  scripts/justfile-utils.sh
Owners: @Excoriate, @docs-maintainers, @terraform-maintainers, @terragrunt-maintainers

feat: Improve Terragrunt command execution with auto-approve for apply and destroy
  justfile
Owners: @Excoriate

feat: Add local git base URL to generator modules
  infra/terragrunt/_shared/_units/age_generator.hcl
  infra/terragrunt/_shared/_units/dni_generator.hcl
  infra/terragrunt/_shared/_units/lastname_generator.hcl
  infra/terragrunt/_shared/_units/name_generator.hcl
Owners: @Excoriate, @terragrunt-maintainers

feat: Add local module path configuration for testing
  infra/terragrunt/global/dni/age_generator/terragrunt.hcl
  infra/terragrunt/global/dni/dni_generator/terragrunt.hcl
  infra/terragrunt/global/dni/lastname_generator/terragrunt.hcl
  infra/terragrunt/global/dni/name_generator/terragrunt.hcl
Owners: @Excoriate, @terragrunt-maintainers

feat: Improve README.md with detailed infrastructure unit configuration details
  infra/terragrunt/_shared/_units/README.md
Owners: @Excoriate, @docs-maintainers

feat: Improve Terragrunt command execution with auto-approve for apply and destroy (#22)
  infra/terragrunt/_shared/_units/README.md
  infra/terragrunt/_shared/_units/age_generator.hcl
  infra/terragrunt/_shared/_units/dni_generator.hcl
  infra/terragrunt/_shared/_units/lastname_generator.hcl
  infra/terragrunt/_shared/_units/name_generator.hcl
  infra/terragrunt/global/dni/age_generator/terragrunt.hcl
  infra/terragrunt/global/dni/dni_generator/terragrunt.hcl
  infra/terragrunt/global/dni/lastname_generator/terragrunt.hcl
  infra/terragrunt/global/dni/name_generator/terragrunt.hcl
  justfile
Owners: @Excoriate, @docs-maintainers, @terragrunt-maintainers

feat: Update Terraform and Terragrunt versions and use secret variables
  ci/ci-terragrunt/main.go
  ci/ci-terragrunt/utils.go
Owners: @Excoriate

feat: Add Terragrunt no interactive option
  ci/ci-terragrunt/main.go
  justfile
Owners: @Excoriate

ci: add SSH and known_hosts setup to Terragrunt container
  ci/ci-terragrunt/main.go
Owners: @Excoriate

ci: bump default Terragrunt version to 0.78.0
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/rfc.yml
  CODE_OF_CONDUCT.md
  README.md
  ci/ci-terragrunt/main.go
Owners: @Excoriate, @ci-maintainers, @docs-maintainers

feat: add Terraform modules static and compatibility checks
  .github/ISSUE_TEMPLATE/rfc.yml
  .github/workflows/dagger-ci.yml
  ci/README.md
  ci/ci-terragrunt/dagger.json
  ci/ci-terragrunt/job_ci_tf.go
  ci/ci-terragrunt/job_ci_tg.go
  justfile
  pipeline/infra/.gitattributes
  pipeline/infra/.gitignore
  pipeline/infra/ci_tfmodules.go
  pipeline/infra/ci_tg.go
  pipeline/infra/dagger.json
  pipeline/infra/err.go
  pipeline/infra/go.mod
  pipeline/infra/job.go
  pipeline/infra/job_tg.go
  pipeline/infra/main.go
  pipeline/infra/utils.go
Owners: @Excoriate, @ci-maintainers, @docs-maintainers

ci: remove deprecated ci-terragrunt module and update workflows
  .github/workflows/dagger-ci.yml
  ci/ci-terragrunt/.gitattributes
  ci/ci-terragrunt/.gitignore
  ci/ci-terragrunt/err.go
  ci/ci-terragrunt/go.mod
  ci/ci-terragrunt/job.go
  ci/ci-terragrunt/main.go
  ci/ci-terragrunt/utils.go
Owners: @Excoriate, @ci-maintainers

ci: enhance environment variable handling in CI workflows
  .github/workflows/dagger-ci.yml
  .pre-commit-config.yaml
Owners: @Excoriate, @ci-maintainers

feat: Update Terraform and Terragrunt versions and use secret variables (#23)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/rfc.yml
  .github/workflows/dagger-ci.yml
  .pre-commit-config.yaml
  CODE_OF_CONDUCT.md
  README.md
  ci/README.md
  ci/ci-terragrunt/dagger.json
  ci/ci-terragrunt/job_ci_tf.go
  ci/ci-terragrunt/job_ci_tg.go
  justfile
  pipeline/infra/.gitattributes
  pipeline/infra/.gitignore
  pipeline/infra/ci_tfmodules.go
  pipeline/infra/ci_tg.go
  pipeline/infra/dagger.json
  pipeline/infra/err.go
  pipeline/infra/go.mod
  pipeline/infra/job.go
  pipeline/infra/job_tg.go
  pipeline/infra/main.go
  pipeline/infra/utils.go
Owners: @Excoriate, @ci-maintainers, @docs-maintainers

feat: add job-tg-stack command to run Terragrunt on stacks
  justfile
  pipeline/infra/job_tg.go
  pipeline/infra/utils.go
Owners: @Excoriate

feat: add JobCDTgStack for controlled Terragrunt runs
  pipeline/infra/cd_tg.go
  pipeline/infra/job_tg.go
Owners: @Excoriate

refactor/add-pipeline-dagger-enhancements (#24)
  justfile
  pipeline/infra/cd_tg.go
  pipeline/infra/job_tg.go
  pipeline/infra/utils.go
Owners: @Excoriate
