Repository Excoriate/terragrunt-ref-arch-v3, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Excoriate, @terragrunt-maintainers, @terraform-maintainers, @docs-maintainers, @ci-maintainers

.github/CODEOWNERS:

# CODEOWNERS file for Terragrunt Reference Architecture

# Default owners for everything in the repo
* @Excoriate

# Terragrunt Infrastructure
infra/terragrunt/ @Excoriate @terragrunt-maintainers

# Terraform Modules
infra/terraform/ @Excoriate @terraform-maintainers

# Documentation
*.md @Excoriate @docs-maintainers

# CI/CD Configuration
.github/ @Excoriate @ci-maintainers

fix: correct variable names and extend git base URLs
  infra/terragrunt/_shared/_config/git.hcl
  pipeline/infra/job_tg.go
Owners: @Excoriate, @terragrunt-maintainers

refactor: rename env vars and add Terragrunt config options
  pipeline/infra/main.go
Owners: @Excoriate

feat: enhance Terragrunt container configuration options
  justfile
  pipeline/infra/dagger.json
  pipeline/infra/go.mod
  pipeline/infra/job_tg.go
  pipeline/infra/main.go
Owners: @Excoriate

ci: pin Dagger version in GitHub workflow
  .github/workflows/dagger-ci.yml
Owners: @Excoriate, @ci-maintainers

ci: update Terragrunt CI pipeline configuration
  justfile
  pipeline/infra/ci_tg.go
Owners: @Excoriate

feat: enhance terragrunt config and add non-distributable CD pipeline
  infra/terragrunt/_shared/_units/random_string_generator.hcl
  justfile
Owners: @Excoriate, @terragrunt-maintainers

ci: update Dagger CI workflow for remote state handling
  .github/workflows/dagger-ci.yml
Owners: @Excoriate, @ci-maintainers

ci: improve readability and consistency in Dagger CI args
  .github/workflows/dagger-ci.yml
Owners: @Excoriate, @ci-maintainers

ci: quote environment variables in dagger-ci workflow
  .github/workflows/dagger-ci.yml
Owners: @Excoriate, @ci-maintainers

ci: unify environment variable usage in Dagger CI workflow
  .github/workflows/dagger-ci.yml
Owners: @Excoriate, @ci-maintainers

fix: update terragrunt paths and streamline CI workflow args
  .github/workflows/dagger-ci.yml
  infra/terragrunt/_shared/_units/dni_generator.hcl
Owners: @Excoriate, @ci-maintainers, @terragrunt-maintainers

ci: remove unnecessary multiline YAML syntax in workflow
  .github/workflows/dagger-ci.yml
Owners: @Excoriate, @ci-maintainers

ci: fix line break in dagger-ci workflow args
  .github/workflows/dagger-ci.yml
Owners: @Excoriate, @ci-maintainers

ci: fix quoting in dagger-ci workflow args
  .github/workflows/dagger-ci.yml
  .pre-commit-config.yaml
Owners: @Excoriate, @ci-maintainers

ci: fix secret references and add remote state env vars
  .github/workflows/dagger-ci.yml
Owners: @Excoriate, @ci-maintainers

ci: replace dagger-for-github action with CLI install and run
  .github/workflows/dagger-ci.yml
Owners: @Excoriate, @ci-maintainers

ci: use DAGGER_MODULE_DIR env var for module path
  .github/workflows/dagger-ci.yml
Owners: @Excoriate, @ci-maintainers

docs: update environment-variables.md for clarity and consistency
  docs/environment-variables.md
Owners: @Excoriate, @docs-maintainers

ci: add GitLab CI workflows and pinned toolchain in flake.nix
  .gitlab-ci.yml
  .gitlab/README.md
  .gitlab/scripts/setup_ssh_agent.sh
  .gitlab/utils/pipeline_auth.yml
  .gitlab/utils/pipeline_infra.yml
  .gitlab/utils/pipeline_tooling.yml
  .gitlab/workflows/workflow_infra_stack_mr_nondist.yml
  .gitlab/workflows/workflow_infra_stack_onmaster_nondist.yml
  .gitlab/workflows/workflow_infra_stacks_ci.yml
  .gitlab/workflows/workflow_infra_terraform_ci.yml
  .gitlab/workflows/workflow_pipeline_build.yml
  .gitlab/workflows/workflow_setup_aws.yml
  .gitlab/workflows/workflow_static_analysis.yml
  .release-please-manifest.json
  flake.nix
  release-please-config.json
  repomix-output.xml
Owners: @Excoriate, @docs-maintainers

chore: update pinned tool versions and SHA256 hashes
  flake.lock
  flake.nix
Owners: @Excoriate

chore: remove deprecated nix flake and envrc files
  .config/direnv/direnvrc
  .env.example
  .envrc
  .gitlab-ci.yml
  .gitlab/README.md
  .gitlab/workflows/workflow_infra_stack_mr_nondist.yml
  .gitlab/workflows/workflow_infra_stack_onmaster_nondist.yml
  .gitlab/workflows/workflow_infra_stacks_ci.yml
  .gitlab/workflows/workflow_infra_terraform_ci.yml
  .gitlab/workflows/workflow_pipeline_build.yml
  .gitlab/workflows/workflow_setup_aws.yml
  .gitlab/workflows/workflow_static_analysis.yml
  .pre-commit-config.yaml
  flake.lock
  flake.nix
  justfile
Owners: @Excoriate, @docs-maintainers

docs: simplify environment variable management to use .env files
  .env.example
  README.md
  docs/environment-variables.md
Owners: @Excoriate, @docs-maintainers
