Repository Excoriate/terragrunt-ref-arch-v3, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Excoriate, @terragrunt-maintainers, @terraform-maintainers, @docs-maintainers, @ci-maintainers

.github/CODEOWNERS:

# CODEOWNERS file for Terragrunt Reference Architecture

# Default owners for everything in the repo
* @Excoriate

# Terragrunt Infrastructure
infra/terragrunt/ @Excoriate @terragrunt-maintainers

# Terraform Modules
infra/terraform/ @Excoriate @terraform-maintainers

# Documentation
*.md @Excoriate @docs-maintainers

# CI/CD Configuration
.github/ @Excoriate @ci-maintainers

feat: Enhance PR labeling with new configuration options
  .github/pr-labeler.yml
  .github/workflows/labels-assigner.yml
  .github/workflows/semantic-pr.yml
Owners: @Excoriate, @ci-maintainers

feat: Enhance PR labeling with more specific rules
  .github/pr-labeler.yml
Owners: @Excoriate, @ci-maintainers

feat: Simplify and improve PR labeling rules
  .github/pr-labeler.yml
Owners: @Excoriate, @ci-maintainers

ci: Update PR labeler configuration and workflow
  .github/labeler.yml
  .github/workflows/labels-assigner.yml
Owners: @Excoriate, @ci-maintainers

feat: Simplify and improve labeling configuration
  .github/labeler.yml
  .github/pr-labeler.yml
Owners: @Excoriate, @ci-maintainers

ci: Update labeler configuration
  .github/labeler.yml
Owners: @Excoriate, @ci-maintainers

feat: Enhance PR labeling with new configuration options (#2)
  .github/labeler.yml
  .github/pr-labeler.yml
  .github/workflows/labels-assigner.yml
  .github/workflows/semantic-pr.yml
Owners: @Excoriate, @ci-maintainers

fix: Update release-please configuration for Terraform and Terragrunt
  .github/workflows/release.yml
  release-please-config.json
Owners: @Excoriate, @ci-maintainers

feat: Add CD configuration files
  .github/labeler.yml
Owners: @Excoriate, @ci-maintainers

fix: Update release-please configuration for Terraform and Terragrunt (#3)
  .github/labeler.yml
  .github/workflows/release.yml
  release-please-config.json
Owners: @Excoriate, @ci-maintainers

feat: Update release-please configuration
  .github/workflows/release.yml
  .release-please-manifest.json
  release-please-config.json
Owners: @Excoriate, @ci-maintainers

feat: Update release-please configuration (#7)
  .github/workflows/release.yml
  .release-please-manifest.json
  release-please-config.json
Owners: @Excoriate, @ci-maintainers

fix: Update release workflow to use simple release type
  .github/workflows/release.yml
Owners: @Excoriate, @ci-maintainers

ci: Remove workflow_dispatch trigger from release workflow
  .github/workflows/release.yml
Owners: @Excoriate, @ci-maintainers

fix-release-please (#8)
  .github/workflows/release.yml
Owners: @Excoriate, @ci-maintainers

feat: Add Nix flake configuration and development environment
  .envrc
  .github/workflows/release.yml
  .gitignore
  .vscode/settings.json
  flake.nix
  justfile
Owners: @Excoriate, @ci-maintainers

feat: Update Nix development environment
  flake.lock
  flake.nix
  justfile
Owners: @Excoriate

feat: Simplify environment configuration by removing .env dependency
  .env.example
  .envrc
  docs/environment-variables.md
  flake.lock
  flake.nix
  infra/terragrunt/.envrc
  infra/terragrunt/global/.envrc
  justfile
Owners: @Excoriate, @docs-maintainers, @terragrunt-maintainers

feat: Improve environment configuration management
  .envrc
  .shellcheckrc
  README.md
  docs/environment-variables.md
  infra/terragrunt/.envrc
  infra/terragrunt/_templates/README.md
  infra/terragrunt/_templates/layer.envrc.template
  infra/terragrunt/dev/.envrc
  infra/terragrunt/global/.envrc
  infra/terragrunt/prod/.envrc
  infra/terragrunt/staging/.envrc
  justfile
  scripts/envrc-utils.sh
Owners: @Excoriate, @docs-maintainers, @terragrunt-maintainers

feat: Update staging environment configuration
  .envrc
  docs/environment-variables.md
  infra/terragrunt/.envrc
  infra/terragrunt/dev/.envrc
  infra/terragrunt/global/.envrc
  infra/terragrunt/prod/.envrc
  infra/terragrunt/staging/.envrc
  scripts/envrc-utils.sh
Owners: @Excoriate, @docs-maintainers, @terragrunt-maintainers

feat: Improve development environment setup and management
  .config/direnv/direnvrc
  .envrc
  .gitignore
  flake.lock
  flake.nix
  infra/terragrunt/.envrc
  infra/terragrunt/staging/.envrc
  justfile
  scripts/envrc-utils.sh
Owners: @Excoriate, @terragrunt-maintainers

feat: Improve environment variable management with direnv
  .editorconfig
  .gitattributes
  .gitignore
  README.md
  justfile
Owners: @Excoriate, @docs-maintainers

refactor/add-nix-flake (#14)
  .config/direnv/direnvrc
  .editorconfig
  .env.example
  .envrc
  .gitattributes
  .github/workflows/release.yml
  .gitignore
  .shellcheckrc
  .vscode/settings.json
  README.md
  docs/environment-variables.md
  infra/terragrunt/.envrc
  infra/terragrunt/_templates/README.md
  infra/terragrunt/_templates/layer.envrc.template
  infra/terragrunt/dev/.envrc
  infra/terragrunt/prod/.envrc
  infra/terragrunt/staging/.envrc
  justfile
  scripts/envrc-utils.sh
Owners: @Excoriate, @ci-maintainers, @docs-maintainers, @terragrunt-maintainers

fix: Remove outdated sections from README.md
  README.md
Owners: @Excoriate, @docs-maintainers

feat: Add custom environment variables and improve remote state configuration
  .envrc
  infra/terragrunt/.envrc
  infra/terragrunt/dev/.envrc
  infra/terragrunt/global/.envrc
  infra/terragrunt/prod/.envrc
  infra/terragrunt/staging/.envrc
Owners: @Excoriate, @terragrunt-maintainers

feat: Improve Terragrunt configuration and formatting
  .envrc
  docs/environment-variables.md
  infra/terragrunt/_shared/_config/tags.hcl
  infra/terragrunt/_shared/_units/dni_generator.hcl
  infra/terragrunt/_shared/_units/lastname_generator.hcl
  infra/terragrunt/config.hcl
  infra/terragrunt/global/dni/name_generator/terragrunt.hcl
  infra/terragrunt/global/dni/stack.hcl
  infra/terragrunt/root.hcl
  justfile
Owners: @Excoriate, @docs-maintainers, @terragrunt-maintainers

feat: Add AWS remote backend setup guide
  README.md
  docs/aws-remote-backend-setup.md
  justfile
  scripts/justfile-utils.sh
Owners: @Excoriate, @docs-maintainers

feat: Improve terragrunt file formatting by enhancing exclude pattern handling
  scripts/justfile-utils.sh
Owners: @Excoriate

fix: Remove outdated sections from README.md (#16)
  .envrc
  README.md
  docs/aws-remote-backend-setup.md
  docs/environment-variables.md
  infra/terragrunt/.envrc
  infra/terragrunt/_shared/_config/tags.hcl
  infra/terragrunt/_shared/_units/dni_generator.hcl
  infra/terragrunt/_shared/_units/lastname_generator.hcl
  infra/terragrunt/config.hcl
  infra/terragrunt/dev/.envrc
  infra/terragrunt/global/.envrc
  infra/terragrunt/global/dni/name_generator/terragrunt.hcl
  infra/terragrunt/global/dni/stack.hcl
  infra/terragrunt/prod/.envrc
  infra/terragrunt/root.hcl
  infra/terragrunt/staging/.envrc
  justfile
  scripts/justfile-utils.sh
Owners: @Excoriate, @docs-maintainers, @terragrunt-maintainers

feat: Update environment configuration and add YAML linting
  .envrc
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/config.yml
  .github/labeler.yml
  .github/no-response.yml
  .github/stale.yml
  .github/workflows/lock-threads.yml
  .gitlab/issue_templates/bug_report.md
  .gitlab/issue_templates/feature_request.md
  .gitlab/merge_request_templates/default.md
  .pre-commit-config.yaml
  .vscode/settings.json
  .yamlfmt.yml
  .yamllint.yml
  README.md
  infra/terragrunt/_shared/_config/app.hcl
  infra/terragrunt/_templates/layer.envrc.template
  infra/terragrunt/global/dni/age_generator/.terraform-version
  infra/terragrunt/global/dni/dni_generator/.terraform-version
  infra/terragrunt/global/dni/lastname_generator/.terraform-version
  infra/terragrunt/global/dni/name_generator/.terraform-version
  justfile
  scripts/envrc-utils.sh
  scripts/hooks/pre-commit-init.sh
Owners: @Excoriate, @ci-maintainers, @docs-maintainers, @terragrunt-maintainers

feat: Update environment configuration and add YAML linting (#17)
  .envrc
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/config.yml
  .github/labeler.yml
  .github/no-response.yml
  .github/stale.yml
  .github/workflows/lock-threads.yml
  .gitlab/issue_templates/bug_report.md
  .gitlab/issue_templates/feature_request.md
  .gitlab/merge_request_templates/default.md
  .pre-commit-config.yaml
  .vscode/settings.json
  .yamlfmt.yml
  .yamllint.yml
  README.md
  infra/terragrunt/_shared/_config/app.hcl
  infra/terragrunt/_templates/layer.envrc.template
  infra/terragrunt/global/dni/age_generator/.terraform-version
  infra/terragrunt/global/dni/dni_generator/.terraform-version
  infra/terragrunt/global/dni/lastname_generator/.terraform-version
  infra/terragrunt/global/dni/name_generator/.terraform-version
  justfile
  scripts/envrc-utils.sh
  scripts/hooks/pre-commit-init.sh
Owners: @Excoriate, @ci-maintainers, @docs-maintainers, @terragrunt-maintainers

feat: Add Terragrunt module with container setup and utility functions
  ci/ci-terragrunt/dagger.json
  ci/ci-terragrunt/main.go
  justfile
Owners: @Excoriate

feat: Add Terragrunt module with container echo and grep functions
  ci/ci-terragrunt/.gitattributes
  ci/ci-terragrunt/.gitignore
  ci/ci-terragrunt/dagger.json
  ci/ci-terragrunt/go.mod
  ci/ci-terragrunt/main.go
Owners: @Excoriate

feat: Improve Dagger CI for Terragrunt
  ci/ci-terragrunt/dagger.json
  ci/ci-terragrunt/err.go
  ci/ci-terragrunt/go.mod
  ci/ci-terragrunt/main.go
  justfile
Owners: @Excoriate

feat: Add Exec function to execute terragrunt commands
  ci/ci-terragrunt/main.go
Owners: @Excoriate

feat: Add support for loading environment variables from .env files
  ci/ci-terragrunt/job_ci_tg.go
  ci/ci-terragrunt/main.go
  ci/ci-terragrunt/tg_ci_static.go
  justfile
Owners: @Excoriate

ci: Refactor Terragrunt unit static check to run sequentially
  ci/ci-terragrunt/job_ci_tg.go
Owners: @Excoriate

ci: Improve concurrency in Terragrunt unit static checks
  ci/ci-terragrunt/job_ci_tg.go
Owners: @Excoriate

feat: Improve output formatting for Terragrunt unit static checks
  ci/ci-terragrunt/job_ci_tg.go
Owners: @Excoriate

feat: Enhance TerragruntActionBuilder with improved documentation and functionality
  ci/ci-terragrunt/job_ci_tg.go
Owners: @Excoriate
