Repository Excoriate/terragrunt-ref-arch-v3, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, terragrunt, terraform, ci, tests, dx, github, cd

feat: Add Terragrunt module with container setup and utility functions
  ci/ci-terragrunt/dagger.json
  ci/ci-terragrunt/main.go
  justfile
Labels: dx

feat: Add Terragrunt module with container echo and grep functions
  ci/ci-terragrunt/.gitattributes
  ci/ci-terragrunt/.gitignore
  ci/ci-terragrunt/dagger.json
  ci/ci-terragrunt/go.mod
  ci/ci-terragrunt/main.go
Labels: none

feat: Improve Dagger CI for Terragrunt
  ci/ci-terragrunt/dagger.json
  ci/ci-terragrunt/err.go
  ci/ci-terragrunt/go.mod
  ci/ci-terragrunt/main.go
  justfile
Labels: dx

feat: Add Exec function to execute terragrunt commands
  ci/ci-terragrunt/main.go
Labels: none

feat: Add support for loading environment variables from .env files
  ci/ci-terragrunt/job_ci_tg.go
  ci/ci-terragrunt/main.go
  ci/ci-terragrunt/tg_ci_static.go
  justfile
Labels: dx

ci: Refactor Terragrunt unit static check to run sequentially
  ci/ci-terragrunt/job_ci_tg.go
Labels: none

ci: Improve concurrency in Terragrunt unit static checks
  ci/ci-terragrunt/job_ci_tg.go
Labels: none

feat: Improve output formatting for Terragrunt unit static checks
  ci/ci-terragrunt/job_ci_tg.go
Labels: none

feat: Enhance TerragruntActionBuilder with improved documentation and functionality
  ci/ci-terragrunt/job_ci_tg.go
Labels: none

feat: Add support for environment variables and secrets in Terragrunt static check
  ci/ci-terragrunt/job.go
  ci/ci-terragrunt/job_ci_tg.go
Labels: none

feat: Refactor CI job processing to use a reusable helper function
  ci/ci-terragrunt/job.go
  ci/ci-terragrunt/job_ci_tg.go
Labels: none

feat: Improve Terragrunt static check job
  .gitlab/issue_templates/bug_report.md
  .gitlab/issue_templates/feature_request.md
  .gitlab/merge_request_templates/default.md
  .pre-commit-config.yaml
  ci/ci-terragrunt/go.mod
  ci/ci-terragrunt/job.go
  ci/ci-terragrunt/job_ci_tg.go
  ci/ci-terragrunt/main.go
  docs/dagger.io/arguments.md
  docs/dagger.io/custom-types.md
  docs/dagger.io/faq.md
  docs/dagger.io/ide-integration.md
  docs/dagger.io/interfaces.md
  docs/dagger.io/module-structure.md
  docs/dagger.io/packages.md
  docs/dagger.io/return-values.md
Labels: docs

feat: Add support for Terragrunt log level, no color, and non-interactive options
  ci/ci-terragrunt/job.go
  ci/ci-terragrunt/job_ci_tf.go
  ci/ci-terragrunt/job_ci_tg.go
  ci/ci-terragrunt/main.go
  ci/ci-terragrunt/utils.go
  justfile
Labels: dx

feat: Mount source code directory for Terragrunt actions
  ci/ci-terragrunt/job.go
  ci/ci-terragrunt/job_ci_tf.go
  ci/ci-terragrunt/main.go
Labels: none

feat: Refactor Terragrunt job execution logic
  ci/ci-terragrunt/job.go
  ci/ci-terragrunt/job_ci_tf.go
  ci/ci-terragrunt/job_ci_tg.go
Labels: none

ci: Add Dagger CI workflow for Terraform and Terragrunt
  .github/workflows/dagger-ci.yml
  justfile
Labels: ci, dx, github

ci: Optimize Dagger CI workflow configuration
  .github/workflows/dagger-ci.yml
Labels: ci, github

ci: Upgrade Dagger GitHub Action to v8.0.0
  .github/workflows/dagger-ci.yml
Labels: ci, github

ci: Update Dagger GitHub Actions to use latest version
  .github/workflows/dagger-ci.yml
Labels: ci, github

ci: Optimize Dagger CI workflow
  .github/workflows/dagger-ci.yml
Labels: ci, github

ci: Update Dagger CI workflow to use environment variables directly
  .github/workflows/dagger-ci.yml
Labels: ci, github

feat: Add Dagger CI module for Terragrunt workflows
  README.md
  ci/README.md
Labels: docs

feat: Add new issue templates for bug reports and feature requests
  repomix-output.md
Labels: docs

feat: Add new issue templates for bug reports and feature requests (#19)
  repomix-output.md
Labels: docs

feat: Add Nix development shell configuration
  flake.nix
  justfile
Labels: dx

feat: Improve development environment with a new shell and tool versions
  ci/README.md
  flake.lock
  flake.nix
Labels: docs

feat/add-nix-shell (#20)
  ci/README.md
  flake.lock
  flake.nix
  justfile
Labels: docs, dx

feat: Upgrade Terraform version to 1.11.3
  infra/terraform/modules/age-generator/versions.tf
  infra/terraform/modules/dni-generator/versions.tf
  infra/terraform/modules/lastname-generator/versions.tf
  infra/terraform/modules/name-generator/versions.tf
  infra/terragrunt/config.hcl
Labels: terragrunt, terraform

feat: Add Terragrunt HCL validation to the justfile
  infra/terragrunt/_shared/_units/age_generator.hcl
  infra/terragrunt/_shared/_units/dni_generator.hcl
  infra/terragrunt/_shared/_units/lastname_generator.hcl
  infra/terragrunt/_shared/_units/name_generator.hcl
  infra/terragrunt/global/dni/age_generator/terragrunt.hcl
  infra/terragrunt/global/dni/dni_generator/terragrunt.hcl
  infra/terragrunt/global/dni/lastname_generator/terragrunt.hcl
  infra/terragrunt/global/dni/name_generator/terragrunt.hcl
  justfile
  scripts/justfile-utils.sh
Labels: terragrunt, dx

feat: Add Terraform module for random string generation
  README.md
  infra/terraform/modules/dni-generator/locals.tf
  infra/terraform/modules/lastname-generator/locals.tf
  infra/terraform/modules/name-generator/locals.tf
  infra/terraform/modules/random-string-generator/.terraform-docs.yml
  infra/terraform/modules/random-string-generator/.tflint.hcl
  infra/terraform/modules/random-string-generator/README.md
  infra/terraform/modules/random-string-generator/locals.tf
  infra/terraform/modules/random-string-generator/main.tf
  infra/terraform/modules/random-string-generator/outputs.tf
  infra/terraform/modules/random-string-generator/variables.tf
  infra/terraform/modules/random-string-generator/versions.tf
  infra/terragrunt/_shared/_config/README.md
  infra/terragrunt/_shared/_config/git.hcl
  infra/terragrunt/_shared/_units/age_generator.hcl
  infra/terragrunt/_shared/_units/dni_generator.hcl
  infra/terragrunt/_shared/_units/lastname_generator.hcl
  infra/terragrunt/_shared/_units/name_generator.hcl
  infra/terragrunt/config.hcl
  infra/terragrunt/global/dni/age_generator/terragrunt.hcl
  infra/terragrunt/global/dni/dni_generator/terragrunt.hcl
  infra/terragrunt/global/dni/lastname_generator/terragrunt.hcl
  infra/terragrunt/global/dni/name_generator/terragrunt.hcl
  justfile
  repomix-output.xml
  scripts/justfile-utils.sh
Labels: docs, terragrunt, terraform, dx

feat: Format Terraform files in tests/ directory
  infra/terragrunt/_shared/_config/git.hcl
  justfile
Labels: terragrunt, dx

feat: Update Terragrunt module paths to use local git base URL
  infra/terragrunt/_shared/_units/age_generator.hcl
  infra/terragrunt/_shared/_units/dni_generator.hcl
  infra/terragrunt/_shared/_units/lastname_generator.hcl
  infra/terragrunt/_shared/_units/name_generator.hcl
  infra/terragrunt/global/dni/age_generator/terragrunt.hcl
  infra/terragrunt/global/dni/dni_generator/terragrunt.hcl
  infra/terragrunt/global/dni/lastname_generator/terragrunt.hcl
  infra/terragrunt/global/dni/name_generator/terragrunt.hcl
  justfile
Labels: terragrunt, dx

feat: Upgrade Terraform version to 1.11.3 (#21)
  README.md
  infra/terraform/modules/dni-generator/locals.tf
  infra/terraform/modules/dni-generator/versions.tf
  infra/terraform/modules/lastname-generator/locals.tf
  infra/terraform/modules/lastname-generator/versions.tf
  infra/terraform/modules/name-generator/locals.tf
  infra/terraform/modules/name-generator/versions.tf
  infra/terraform/modules/random-string-generator/.terraform-docs.yml
  infra/terraform/modules/random-string-generator/.tflint.hcl
  infra/terraform/modules/random-string-generator/README.md
  infra/terraform/modules/random-string-generator/locals.tf
  infra/terraform/modules/random-string-generator/main.tf
  infra/terraform/modules/random-string-generator/outputs.tf
  infra/terraform/modules/random-string-generator/variables.tf
  infra/terraform/modules/random-string-generator/versions.tf
  infra/terragrunt/_shared/_config/README.md
  infra/terragrunt/_shared/_config/git.hcl
  infra/terragrunt/_shared/_units/age_generator.hcl
  infra/terragrunt/_shared/_units/dni_generator.hcl
  infra/terragrunt/_shared/_units/lastname_generator.hcl
  infra/terragrunt/_shared/_units/name_generator.hcl
  infra/terragrunt/config.hcl
  infra/terragrunt/global/dni/age_generator/terragrunt.hcl
  infra/terragrunt/global/dni/dni_generator/terragrunt.hcl
  infra/terragrunt/global/dni/lastname_generator/terragrunt.hcl
  infra/terragrunt/global/dni/name_generator/terragrunt.hcl
  justfile
  repomix-output.xml
  scripts/justfile-utils.sh
Labels: docs, terragrunt, terraform, dx

feat: Improve Terragrunt command execution with auto-approve for apply and destroy
  justfile
Labels: dx

feat: Add local git base URL to generator modules
  infra/terragrunt/_shared/_units/age_generator.hcl
  infra/terragrunt/_shared/_units/dni_generator.hcl
  infra/terragrunt/_shared/_units/lastname_generator.hcl
  infra/terragrunt/_shared/_units/name_generator.hcl
Labels: terragrunt

feat: Add local module path configuration for testing
  infra/terragrunt/global/dni/age_generator/terragrunt.hcl
  infra/terragrunt/global/dni/dni_generator/terragrunt.hcl
  infra/terragrunt/global/dni/lastname_generator/terragrunt.hcl
  infra/terragrunt/global/dni/name_generator/terragrunt.hcl
Labels: terragrunt

feat: Improve README.md with detailed infrastructure unit configuration details
  infra/terragrunt/_shared/_units/README.md
Labels: docs

feat: Improve Terragrunt command execution with auto-approve for apply and destroy (#22)
  infra/terragrunt/_shared/_units/README.md
  infra/terragrunt/_shared/_units/age_generator.hcl
  infra/terragrunt/_shared/_units/dni_generator.hcl
  infra/terragrunt/_shared/_units/lastname_generator.hcl
  infra/terragrunt/_shared/_units/name_generator.hcl
  infra/terragrunt/global/dni/age_generator/terragrunt.hcl
  infra/terragrunt/global/dni/dni_generator/terragrunt.hcl
  infra/terragrunt/global/dni/lastname_generator/terragrunt.hcl
  infra/terragrunt/global/dni/name_generator/terragrunt.hcl
  justfile
Labels: docs, terragrunt, dx

feat: Update Terraform and Terragrunt versions and use secret variables
  ci/ci-terragrunt/main.go
  ci/ci-terragrunt/utils.go
Labels: none

feat: Add Terragrunt no interactive option
  ci/ci-terragrunt/main.go
  justfile
Labels: dx

.github/labeler.yml:

---
# Documentation changes
docs:
  - changed-files:
      any-glob-to-any-file: ['**/*.md', 'docs/**/*']

# Terragrunt infrastructure changes
terragrunt:
  - changed-files:
      any-glob-to-any-file: ['infra/terragrunt/**/*.hcl']

# Terraform infrastructure changes
terraform:
  - changed-files:
      any-glob-to-any-file: ['infra/terraform/**/*.tf']

# CI/CD workflow changes
ci:
  - changed-files:
      any-glob-to-any-file: ['.github/**/*']

# Test changes
tests:
  - changed-files:
      any-glob-to-any-file: ['**/*_test.*']

dx:
  - changed-files:
      any-glob-to-any-file: ['justfile']

github:
  - changed-files:
      any-glob-to-any-file: ['.github/**/*']

cd:
  - changed-files:
      any-glob-to-any-file: ['@release-please-config.json', '@.release-please-manifest.json']
