Repository Excoriate/terragrunt-ref-arch-v3, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, terragrunt, terraform, ci, tests, dx, github, cd

.github/labeler.yml:

---
# Documentation changes
docs:
  - changed-files:
      any-glob-to-any-file: ['**/*.md', 'docs/**/*']

# Terragrunt infrastructure changes
terragrunt:
  - changed-files:
      any-glob-to-any-file: ['infra/terragrunt/**/*.hcl']

# Terraform infrastructure changes
terraform:
  - changed-files:
      any-glob-to-any-file: ['infra/terraform/**/*.tf']

# CI/CD workflow changes
ci:
  - changed-files:
      any-glob-to-any-file: ['.github/**/*']

# Test changes
tests:
  - changed-files:
      any-glob-to-any-file: ['**/*_test.*']

dx:
  - changed-files:
      any-glob-to-any-file: ['justfile']

github:
  - changed-files:
      any-glob-to-any-file: ['.github/**/*']

cd:
  - changed-files:
      any-glob-to-any-file: ['@release-please-config.json', '@.release-please-manifest.json']

ci: add SSH and known_hosts setup to Terragrunt container
  ci/ci-terragrunt/main.go
Labels: none

ci: bump default Terragrunt version to 0.78.0
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/rfc.yml
  CODE_OF_CONDUCT.md
  README.md
  ci/ci-terragrunt/main.go
Labels: docs, ci, github

feat: add Terraform modules static and compatibility checks
  .github/ISSUE_TEMPLATE/rfc.yml
  .github/workflows/dagger-ci.yml
  ci/README.md
  ci/ci-terragrunt/dagger.json
  ci/ci-terragrunt/job_ci_tf.go
  ci/ci-terragrunt/job_ci_tg.go
  justfile
  pipeline/infra/.gitattributes
  pipeline/infra/.gitignore
  pipeline/infra/ci_tfmodules.go
  pipeline/infra/ci_tg.go
  pipeline/infra/dagger.json
  pipeline/infra/err.go
  pipeline/infra/go.mod
  pipeline/infra/job.go
  pipeline/infra/job_tg.go
  pipeline/infra/main.go
  pipeline/infra/utils.go
Labels: docs, ci, dx, github

ci: remove deprecated ci-terragrunt module and update workflows
  .github/workflows/dagger-ci.yml
  ci/ci-terragrunt/.gitattributes
  ci/ci-terragrunt/.gitignore
  ci/ci-terragrunt/err.go
  ci/ci-terragrunt/go.mod
  ci/ci-terragrunt/job.go
  ci/ci-terragrunt/main.go
  ci/ci-terragrunt/utils.go
Labels: ci, github

ci: enhance environment variable handling in CI workflows
  .github/workflows/dagger-ci.yml
  .pre-commit-config.yaml
Labels: ci, github

feat: Update Terraform and Terragrunt versions and use secret variables (#23)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/rfc.yml
  .github/workflows/dagger-ci.yml
  .pre-commit-config.yaml
  CODE_OF_CONDUCT.md
  README.md
  ci/README.md
  ci/ci-terragrunt/dagger.json
  ci/ci-terragrunt/job_ci_tf.go
  ci/ci-terragrunt/job_ci_tg.go
  justfile
  pipeline/infra/.gitattributes
  pipeline/infra/.gitignore
  pipeline/infra/ci_tfmodules.go
  pipeline/infra/ci_tg.go
  pipeline/infra/dagger.json
  pipeline/infra/err.go
  pipeline/infra/go.mod
  pipeline/infra/job.go
  pipeline/infra/job_tg.go
  pipeline/infra/main.go
  pipeline/infra/utils.go
Labels: docs, ci, dx, github

feat: add job-tg-stack command to run Terragrunt on stacks
  justfile
  pipeline/infra/job_tg.go
  pipeline/infra/utils.go
Labels: dx

feat: add JobCDTgStack for controlled Terragrunt runs
  pipeline/infra/cd_tg.go
  pipeline/infra/job_tg.go
Labels: none

refactor/add-pipeline-dagger-enhancements (#24)
  justfile
  pipeline/infra/cd_tg.go
  pipeline/infra/job_tg.go
  pipeline/infra/utils.go
Labels: dx

fix: correct variable names and extend git base URLs
  infra/terragrunt/_shared/_config/git.hcl
  pipeline/infra/job_tg.go
Labels: terragrunt

refactor: rename env vars and add Terragrunt config options
  pipeline/infra/main.go
Labels: none

feat: enhance Terragrunt container configuration options
  justfile
  pipeline/infra/dagger.json
  pipeline/infra/go.mod
  pipeline/infra/job_tg.go
  pipeline/infra/main.go
Labels: dx

ci: pin Dagger version in GitHub workflow
  .github/workflows/dagger-ci.yml
Labels: ci, github

ci: update Terragrunt CI pipeline configuration
  justfile
  pipeline/infra/ci_tg.go
Labels: dx

feat: enhance terragrunt config and add non-distributable CD pipeline
  infra/terragrunt/_shared/_units/random_string_generator.hcl
  justfile
Labels: terragrunt, dx

ci: update Dagger CI workflow for remote state handling
  .github/workflows/dagger-ci.yml
Labels: ci, github

ci: improve readability and consistency in Dagger CI args
  .github/workflows/dagger-ci.yml
Labels: ci, github

ci: quote environment variables in dagger-ci workflow
  .github/workflows/dagger-ci.yml
Labels: ci, github

ci: unify environment variable usage in Dagger CI workflow
  .github/workflows/dagger-ci.yml
Labels: ci, github

fix: update terragrunt paths and streamline CI workflow args
  .github/workflows/dagger-ci.yml
  infra/terragrunt/_shared/_units/dni_generator.hcl
Labels: terragrunt, ci, github

ci: remove unnecessary multiline YAML syntax in workflow
  .github/workflows/dagger-ci.yml
Labels: ci, github

ci: fix line break in dagger-ci workflow args
  .github/workflows/dagger-ci.yml
Labels: ci, github

ci: fix quoting in dagger-ci workflow args
  .github/workflows/dagger-ci.yml
  .pre-commit-config.yaml
Labels: ci, github

ci: fix secret references and add remote state env vars
  .github/workflows/dagger-ci.yml
Labels: ci, github

ci: replace dagger-for-github action with CLI install and run
  .github/workflows/dagger-ci.yml
Labels: ci, github

ci: use DAGGER_MODULE_DIR env var for module path
  .github/workflows/dagger-ci.yml
Labels: ci, github

docs: update environment-variables.md for clarity and consistency
  docs/environment-variables.md
Labels: docs

ci: add GitLab CI workflows and pinned toolchain in flake.nix
  .gitlab-ci.yml
  .gitlab/README.md
  .gitlab/scripts/setup_ssh_agent.sh
  .gitlab/utils/pipeline_auth.yml
  .gitlab/utils/pipeline_infra.yml
  .gitlab/utils/pipeline_tooling.yml
  .gitlab/workflows/workflow_infra_stack_mr_nondist.yml
  .gitlab/workflows/workflow_infra_stack_onmaster_nondist.yml
  .gitlab/workflows/workflow_infra_stacks_ci.yml
  .gitlab/workflows/workflow_infra_terraform_ci.yml
  .gitlab/workflows/workflow_pipeline_build.yml
  .gitlab/workflows/workflow_setup_aws.yml
  .gitlab/workflows/workflow_static_analysis.yml
  .release-please-manifest.json
  flake.nix
  release-please-config.json
  repomix-output.xml
Labels: docs

chore: update pinned tool versions and SHA256 hashes
  flake.lock
  flake.nix
Labels: none

chore: remove deprecated nix flake and envrc files
  .config/direnv/direnvrc
  .env.example
  .envrc
  .gitlab-ci.yml
  .gitlab/README.md
  .gitlab/workflows/workflow_infra_stack_mr_nondist.yml
  .gitlab/workflows/workflow_infra_stack_onmaster_nondist.yml
  .gitlab/workflows/workflow_infra_stacks_ci.yml
  .gitlab/workflows/workflow_infra_terraform_ci.yml
  .gitlab/workflows/workflow_pipeline_build.yml
  .gitlab/workflows/workflow_setup_aws.yml
  .gitlab/workflows/workflow_static_analysis.yml
  .pre-commit-config.yaml
  flake.lock
  flake.nix
  justfile
Labels: docs, dx

docs: simplify environment variable management to use .env files
  .env.example
  README.md
  docs/environment-variables.md
Labels: docs
